<img src="<%= data.articaleImage?data.articaleImage : "../img/hero_image.jpg"
%>" alt="computers , laptop , mobile and developer" class="hero-image"
width="981" height="528" />
<h1><%= data.title %></h1>
<article class="article"><%- data.body %></article>
